<div class="container">
  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">
      Editing Branch
    </h1>
    <div class="btn-toolbar mb-2 mb-md-0">
      <%= link_to "Back", pipeline_path(@pipeline), class: "btn btn-primary mr-2" %>
      <%= link_to "Destroy", pipeline_step_branch_path(@pipeline, @step, @branch), method: :delete, class: "btn btn-danger", data: { confirm: "Are you sure?" } %>
    </div>
  </div>

  <%= render "form", pipeline: @pipeline, step: @step, branch: @branch %>
</div>
